{% extends "basic_app/base.html" %}
{% load static %}

<link href="{% static 'css/productos.css' %}" rel="stylesheet" type="text/css">
{% block body_block %}

<div class="">

  <div class="p-5 text-left">
    <div class="container py-5">
            {% if form.producto %}
            <h1 class="text-body-emphasis">Gestión de Productos: {{form.producto}}</h1>
            {% else %}
            <h1 class="text-body-emphasis">Gestión de Productos: Nuevo</h1>
            {% endif %}

      <p class="col-lg-12">Ingesa los datos del producto final o servicio que se vendar al cliente</p>
      <form enctype="multipart/form-data" class="container" method="post" id="product_form">
      <div class="form-group">
         {% csrf_token %}
        
      </div>
        <div class="table-responsive card mt-4">
                <div class="card-header card-header-secondary">
                    <h2 class="card-title">Datos Generales</h2>
                </div>
                <div class="card-body colorcard" style="background-color:#21252908;">
                 
                  {{form.as_table}}
                </div>
      </div>
     <br>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a href="{% url 'producto_app:productos' %}"><button type="button" class="btn btn-secondary">Cancelar</button></a>
    </form>

  </div>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script>

  $(document).ready(function() {
    // when user clicks add more btn of variants
      $('.add-variants').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-variants').children().length;
          var tmplMarkup = $('#variants-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-variants').append(compiledTmpl);
  
          // update form count
          $('#id_variants-TOTAL_FORMS').attr('value', count+1);
      });
  });
</script>
{% endblock %}