{% extends "basic_app/base.html" %}
{% load static %}


{% block body_block %}
<div class="">

    <div class="p-5 text-left">
        <div class="container py-5">
          <h1 class="text-body-emphasis">Gestión de Productos</h1>
          

          <a type="button" class="btn btn-success" href="{% url 'producto_app:add_producto' %}">Crear Producto</a>
          <div class="table-responsive card mt-4">
            <div class="card-header card-header-secondary">
                <p>
                    Listado de Productos para la gestión.
                </p>
            </div>
            <table class="table card-header">
              <thead class="text-secondary">
                <tr>
                    <th scope="col">SKU</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Canal</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody> 
                {% if producto_list %}
                {% for producto in producto_list %}
                <tr>
                    <td><a href="">{{ producto.sku_producto }}</a></td>
                    <td>{{ producto.nom_producto }}</td>
                    <td>{{ producto.canal_producto }}</td>
                    <td>{{ producto.tip_producto }}</td>
                    <td>{{ producto.des_producto }}</td>
                    <td>
                        <a type="button" class="btn btn-dark" href="{% url 'cadena_app:add_cadena' pk=producto.id %}">Cadena Suministro</a>
                        <a type="button" class="btn btn-warning" href="{% url 'producto_app:update_producto' producto.id %}">Modificar</a>
                        <a type="button" class="btn btn-danger" href="{% url 'producto_app:delete_producto' producto.id %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}

                {% endif %}
            </tbody>
        </table>

    </div>
</div>
</div>

{% endblock %}
