
<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/7140ee161b.js" crossorigin="anonymous"></script>
  <title></title>
</head>

<body>
<main class="d-flex flex-nowrap">
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark stickybar" style="width: 280px;">
    <a href="{% url 'index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img class="" src="{% static 'images/cliente-4LifeLogo.png' %}" alt="Logo Cliente" >
    </a>
    <hr>
    <ul class="nav nav-pills flex-column">
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Administración</a>  
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="{% url 'admin:index' %}">Administrador Django</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'basic_app:user_list' %}">Usuarios</a></li>
        </ul>
      </div>
    </ul>
    <ul class="nav nav-pills flex-column mb-auto">
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Planificación</a>  
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="{% url 'producto_app:productos' %}">Productos</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'suministro_app:proveedores' %}">Proveedores</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'suministro_app:suministros' %}">Suministros</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'suministro_app:equipos' %}">Equipos</a></li>
          <li><hr class="dropdown-divider"></li>

        </ul>
      </div>

    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <strong>{{request.user.username}}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="{% url 'basic_app:change_password' %}">Cambiar Clave</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'basic_app:user_logout' %}">Salir</a></li>
      </ul>
    </div> 
  </div>

  <div class="b-example-divider b-example-vr space-menu"></div>
  <div class='contenido'>
    {% block body_block %}

  {% endblock %}
  </div>
</main>
</body>
</html>
