{% extends "basic_app/base.html" %}
{% load static %}


{% block body_block %}

<div class="">

<div class="p-5 text-left">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Cambiar Clave</h1>

    {% if registered %}
    <div class="alert alert-success" role="alert">
      {{alerta}}
    </div>
    {% else %}
    <div class="form-group">
  		<form method="POST">
			{% csrf_token %}
			{{form.as_table}}
            <button type="submit" class="btn btn-primary">Actualizar</button>
		</form>
    </div>
    {% endif %}
    </div>
  </div>

</div>
{% endblock %}