{% extends "basic_app/base.html" %}
{% load static %}


{% block body_block %}

<div class="">

<div class="p-5 text-left">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Registro de Usuario</h1>

    {% if registered %}
    <div class="alert alert-success" role="alert">
      {{alerta}}
    </div>
    {% else %}
     <p class="col-lg-8  lead">
        Ingresa los datos del usuario y asigna un rol de trabajo.
      </p>
    <div class="form-group">
  		<form method="POST">
			{% csrf_token %}
			{{user_form.as_table}}
			{{profile_form.as_table}}
            <button type="submit" class="btn btn-primary">Registrar</button>
		</form>
    </div>
    {% endif %}
    </div>
  </div>

</div>
{% endblock %}