    {% extends "basic_app/base.html" %}
    {% load static %}


    {% block body_block %}
    <link href="{% static 'css/productos.css' %}" rel="stylesheet" type="text/css">
    <div class="">

      <div class="p-5 text-left">
        <div class="container py-5">
            {% if form.nro %}
            <h1 class="text-body-emphasis">Gestión Orden de Venta Nro: {{form.nro}}</h1>
            {% else %}
            <h1 class="text-body-emphasis">Gestión Ordenes de Venta: Nuevo </h1>
            {% endif %}
          <p class="col-lg-12">Ingresa los datos de la Orden de Venta</p>
          <form enctype="multipart/form-data" class="container" method="post" id="product_form">
                             {% if form.existe %}
 
            <div class="table-responsive card mt-4">
                <div class="card-header card-header-secondary">
                    <h4 class="card-title">Evaluación Impacto Ambiental</h4>
                </div>
                <div class="card-body colorcard">
                    <div class="container-estadistica">
                        <div class="kpi">
                            <div class="kpi-label">Salud Humana</div>
                            {% if form.alerta.0 < 0 %}
                            <div class="kpi-number" style="color: red;">
                            {% elif form.alerta.0 < 1 %}
                            <div class="kpi-number" style="color: #ff870b;">
                            {% else %}
                            <div class="kpi-number" style="color: green;">
                            {% endif %}
                            {{form.salud_humana}}</div>
                            <div class="kpi-label">Perdida de años de vida-discapacidad</div>
                        </div>
                        <div class="kpi">
                            <div class="kpi-label">Eco. Terrestres</div>
                             {% if form.alerta.1 < 0 %}
                            <div class="kpi-number" style="color: red;">
                            {% elif form.alerta.1 < 1 %}
                            <div class="kpi-number" style="color: #ff870b">
                            {% else %}
                            <div class="kpi-number" style="color: green;">
                            {% endif %}
                            {{form.eco_terrestre}}</div>
                            <div class="kpi-label">Perdida de especie x año</div>
                        </div>
                        <div class="kpi">
                            <div class="kpi-label">Eco. Agua Dulce</div>
                            {% if form.alerta.2 < 0 %}
                            <div class="kpi-number" style="color: red;">
                            {% elif form.alerta.2 < 1 %}
                            <div class="kpi-number" style="color: #ff870b;">
                            {% else %}
                            <div class="kpi-number" style="color: green;">
                            {% endif %}
                            {{form.eco_aguadulce}}</div>
                            <div class="kpi-label">Perdida de especie x año</div>
                        </div>
                        <div class="kpi">
                            <div class="kpi-label">Eco. Marino</div>
                            {% if form.alerta.3 < 0 %}
                            <div class="kpi-number" style="color: red;">
                            {% elif form.alerta.3 < 1 %}
                            <div class="kpi-number" style="color: #ff870b;">
                            {% else %}
                            <div class="kpi-number" style="color: green;">
                            {% endif %}
                            {{form.eco_marino}}</div>
                            <div class="kpi-label">Perdida de especie x año</div>
                        </div>
                        <div class="kpi">
                            <div class="kpi-label">Escases de Recursos</div>
                            {% if form.alerta.4 < 0 %}
                            <div class="kpi-number" style="color: red;">
                            {% elif form.alerta.4 < 1 %}
                            <div class="kpi-number" style="color: #ff870b;">
                            {% else %}
                            <div class="kpi-number" style="color: green;">
                            {% endif %}
                            USD {{form.escase_recursos}}</div>
                            <div class="kpi-label">Coste Excedente</div>
                        </div>
                    </div>
                </div> 
            </div>
            {% endif %}  
          <div class="form-group">
             {% csrf_token %}
            {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                    {% elif message.tags == 'success' %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                     {% endif %}
                {% endfor %}
             <div class="table-responsive card mt-4">
                <div class="card-header card-header-secondary">
                    <h2 class="card-title">Datos Generales</h2>
                </div>
                <div class="card-body colorcard">
                    <div class="form-row rowflex">
                        <div class="form-group col-md-6 inputflex">
                            <label for="id_variation_formset-0-cod_venta" class="labelformulario">{{form.cod_venta.label}}</label>
                            {{form.cod_venta}}
                        </div>
                
                        <div class="form-group col-md-6 inputflex">
                        <label for="id_variation_formset-0-estado_venta" class="labelformulario">Estado de Orden</label>
                        <input type="text" value="{{form.estado}}" class="form-control" disabled ="True" maxlength="50">
                        </div>

                    </div>
            
                </div>
            </div>    

            <div class="table-responsive card mt-4">
                <div class="card-header card-header-secondary">
                    <h2 class="card-title">Datos de Cliente y Envio</h2>
                </div>
                <div class="card-body colorcard">
                    <div class="form-row rowflex">
                        <div class="form-group col-md-6 inputflex">
                            <label for="id_variation_formset-0-cliente_venta" class="labelformulario">{{form.cliente_venta.label}}</label>
                            {{form.cliente_venta}}
                        </div>
                        <div class="form-group col-md-6 inputflex">
                            <label for="id_variation_formset-0-fecha_entrega_venta" class="labelformulario">{{form.fecha_entrega_venta.label}}</label>
                            {{form.fecha_entrega_venta}}
                        </div>
                    </div>
                    <div class="form-row rowflex">
                        <div class="form-group col-md-12 inputflex">
                            <label for="id_variation_formset-0-direccion_venta" class="labelformulario">{{form.direccion_venta.label}}</label>
                            {{form.direccion_venta}}
                        </div>
                    </div>
                </div>    
            </div>
            
          </div>
          <div>

            {% with named_formsets.detalles as formset %}
            {{ formset.management_form }}

            <script type="text/html" id="detalles-template"> 
                <tr id="detalles-__prefix__" class= hide_all>
                    {% for fields in formset.empty_form.hidden_fields %}
                        {{ fields }}
                    {% endfor %}
                    <td>
                                    {{ formset.empty_form.producto_detalle }}
                    </td>
                    <td>
                                    {{ formset.empty_form.cantidad_detalle }}
                    </td>

                </tr>
            </script>

            <div class="table-responsive card mt-4">
                <div class="card-header card-header-secondary">
                    <h2 class="card-title">Productos y ordenes de producción</h2>
                    <p>Enumar los productos que se incluyen en la orden de venta</p>
                    {% if form.estado == "En Producción" %}
                     <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Terminar Producción" onclick="confirmarTerminarProduccion({{ form.instance.pk }})">Terminar Producción</button>
                    {% endif %}
                </div>
                <table class="table card-header">
                    <thead class="text-secondary">
                        <th style="width:8%;">Desvio</th>
                        <th style="width:30%;">Producto <span style="color: red;" class="required">*</span></th>
                        <th style="width:20%;">Cantidad <span style="color: red;" class="required">*</span></th>
                        <th style="width:15%;">Estado Producción<span style="color: red;" class="required">*</span></th>
                        <th style="width:22%;">Acción sobre Producción</th>
                    </thead>
                    <tbody id="item-detalles">  <!-- id="item-inlineformsetname" -->
                        <!-- formset non forms errors -->
                        {% for error in formset.non_form_errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                        {% for formss in formset %}
                            {{ formss.management_form }}
                            <tr id="detalles-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                                {{ formss.id }}
                                {% if formss.creado %}
                                    {% if formss.alerta < 0 %}
                                    <td><a style="color:red;"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path></svg></a></td>
                                    {% elif formss.alerta < 1 %}
                                    <td><a style="color:#ff870b;"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path></svg></td></a>
                                    {% else %}
                                    <td><a style="color:green;"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></a></td>
                                    {% endif %}
                                <td>
                                    <input type="text" value="{{formss.producto}}" class="form-control" disabled="True" maxlength="50">
                                     <a style="display:none;">{{ formss.producto_detalle }}</a>
                                </td>
                                <td>
                                    <input type="text" value="{{formss.cantidad}}" class="form-control" disabled="True" maxlength="50">
                                    <a style="display:none;">{{ formss.cantidad_detalle }}</a>
                                </td>
                                {% else %}
                                    {% if form.estado == "En Producción" or form.estado == "Registrado" %}
                                    <td>
                                    </td>
                                    <td>
                                        {{ formss.producto_detalle }}
                                    </td>
                                    <td>
                                        {{ formss.cantidad_detalle }}
                                    </td>
                                    {% endif %}    
                                {% endif %}
                                <td>
                                    {{formss.estado}}
                                </td>
                                {% comment %} for delete {% endcomment %}
                                {% if formss.instance.pk %}
                                    <td>
                                        {% if formss.creado %}
                                        <a type="button" class="btn btn-dark" href="{% url 'produccion_app:modificar_ver_produccion' formss.instance.pk %}" data-toggle="tooltip" data-placement="top" title="Ver Orden Producción"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16"><path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/><path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/></svg></a>
                                        {% else %}
                                        <a type="button" class="btn btn-primary" href="{% url 'produccion_app:nueva_orden_produccion' formss.instance.pk %}" data-toggle="tooltip" data-placement="top" title="Ordenar Producción"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16"><path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/></svg></a>
                                        {% endif %}
                                        {% if formss.estado != "Cancelado" and formss.estado != "Completado" %}
                                        <a type="button" class="btn btn-danger" href="{% url 'produccion_app:eliminar_producto_venta' formss.instance.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/></svg></a>
                                        {% endif %}
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{formss.instance.pk}}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel{{formss.instance.pk}}">Are Your Sure You Want To Delete This?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="{% url 'produccion_app:eliminar_producto_venta' formss.instance.pk %}" type="button" class="btn btn-primary">Yes, Delete</a>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </td>            
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if form.estado == "En Producción" or form.estado == "Registrado" %}
                <a href="#" id="add-detalles-button" class="btn btn-secondary add-detalles">Agregar</a> <!-- id="add-inlineformsetname-button" -->
                {% endif %}
            </div>
          </div>
           {% endwith %}
           {% if form.nro %}
            <div class="table-responsive card mt-4">
                <div class="card-header card-header-secondary">
                    <h2 class="card-title">Gestión de Envio</h2>
                </div>
                <div class="card-body colorcard">
                    {% if form.envio < 0 and form.nro %}
                        <a href="{% url 'produccion_app:crear_orden_entrega' pk=form.instance.pk%}"><button type="button" class="btn btn-success">Crear Orden de Envio</button></a>
                    {% else %}
                    <div class="form-row rowflex">
                        <div class="form-group col-md-4 inputflex">
                            <label for="id_variation_formset-0-estado_venta" class="labelformulario">Estado de Orden de Envio</label>
                            <input type="text" value="{{form.estado_envio}}" class="form-control" disabled ="True" maxlength="50">
                        </div>
                        <div class="form-group col-md-4 inputflex">
                            <label for="id_variation_formset-0-estado_venta" class="labelformulario">Fecha de Envio</label>
                            <input type="text" value="{{form.fecha_envio}}" class="form-control" disabled ="True" maxlength="50">
                        </div>
                        <div class="form-group col-md-4 inputflex">
                            <label for="id_variation_formset-0-estado_venta" class="labelformulario">Dirección de Envio</label>
                            <input type="text" value="{{form.direccion_envio}}" class="form-control" disabled ="True" maxlength="50">
                        </div> 
                    </div>
                    <div class="form-row rowflex">
                    {% if form.estado_envio != "Completado" and form.estado_envio != "Cancelado" %}
                    <a href="{% url 'produccion_app:editar_orden_entrega' pk=form.envio %}"><button type="button" class="btn btn-primary">Editar</button></a>   
                    {% else %}
                    <a href="{% url 'produccion_app:editar_orden_entrega' pk=form.envio %}"><button type="button" class="btn btn-dark">Consultar</button></a> 
                    {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>   
            {% endif %}
           <br>
          <button type="submit" class="btn btn-primary">Guardar</button>
          <a href="{% url 'produccion_app:ordenes_venta' %}"><button type="button" class="btn btn-secondary">Cancelar</button></a>
        </form>

      </div>
    </div>

    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function confirmarTerminarProduccion(ordenId) {
        if (confirm("¿Estás seguro que deseas confirmar el termino de la producción? No podras asociar ningun producto luego de ello.")) {
            // Redirige a la URL correspondiente pasando el ordenId
            window.location.href = "{% url 'produccion_app:fin_produccion_orden_venta' pk=0 %}".replace("0", ordenId);
        }
    }
</script>

    <script>

      $(document).ready(function() {
        // when user clicks add more btn of variants
          $('.add-detalles').click(function(ev) {
              ev.preventDefault();
              var count = $('#item-detalles').children().length;
              var tmplMarkup = $('#detalles-template').html();
              var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
              $('#item-detalles').append(compiledTmpl);
      
              // update form count
              $('#id_detalles-TOTAL_FORMS').attr('value', count+1);
          });
      });
        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    {% endblock %}