{% extends "basic_app/base.html" %}
{% load static %}


{% block body_block %}
<link href="{% static 'css/productos.css' %}" rel="stylesheet" type="text/css">
<div class="">

  <div class="p-5 text-left">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Cadena de Suministro para {{form.productonombre}}</h1>
      <p class="col-lg-12">Asociar a La cadena de Producción los suministros requeridos y su impacto heredado </p>
      <form enctype="multipart/form-data" class="container" method="post" id="product_form">
      <div class="form-group">
         {% csrf_token %}
        <div class="form-row rowflex">
            <div class="form-group col-md-6 inputflex">
                <label for="id_variation_formset-0-ser_equipo">{{form.suministro_asociado.label}}</label>
                {{form.suministro_asociado}}
            </div>
        </div>
        <div class="form-row rowflex">
            <div class="form-group col-md-4 inputflex">
                <label for="id_variation_formset-0-nom_equipo">{{form.cadena_asociada.label}}</label>
                {{form.cadena_asociada}}
            </div>
            <div class="form-group col-md-4 inputflex">
                <label for="id_variation_formset-0-fabr_equipo">{{form.sustancia_asociada.label}}</label>
                {{form.sustancia_asociada}}
            </div>
            <div class="form-group col-md-4 inputflex">
                <label for="id_variation_formset-0-prov_equipo">{{form.cantidad_sustancia.label}}</label>
                {{form.cantidad_sustancia}}
            </div>
        </div>
        <div class="form-row rowflex">
            <div class="form-group col-md-6 inputflex" >
                <label for="id_variation_formset-0-ser_equipo">{{form.proveedor_suministro.label}}</label>
                {{form.proveedor_suministro}}
            </div>
        </div>

      </div>

      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

  </div>
</div>

</div>

{% endblock %}